app 
    h1.text-center.text-4xl { props.message }

    blog-posts( posts="{ state.posts }" )

    script.
        // on mount, load the latest posts
        export default function App() {
            console.log("hello from App")

            let loadPosts = function() {
                console.log("loading posts ...")

                return [
                    {
                        id: 1,
                        content: "entry 1"
                    },
                    {
                        id: 2,
                        content: "entry 2"
                    },
                    {
                        id: 3,
                        content: "entry 3"
                    }
                ]
            }

            return {
                // initial component state
                state: {
                    posts: []
                },

                onMounted() {
                    console.log("app mounted, load some entries")

                    setTimeout(() => {
                        this.update({
                            posts: loadPosts()
                        })
                    }, 3000)
                }
            }
        }