blog-post-short-unformatted
    div { props.post.content }

    script.
        export default function BlogPostShortUnformatted() {
            console.log("hello from blog-post-short-unformatted")
        }